<html>
      <head>
          <title>Django Girls blog</title>
      </head>
      <body>
          <div>
              <h1><a href="">Django Girls Blog</a></h1>
          </div>

          <div>
              <p>published: 14.06.2014, 12:14</p>
              <h2><a href="">Первая запись</a></h2>
              <p> Товарищи! укрепление и развитие структуры позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. С другой стороны дальнейшее развитие различных форм деятельности требуют определения и уточнения новых предложений.
Таким образом укрепление и развитие структуры в значительной степени обуславливает создание новых предложений. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение дальнейших направлений развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание соответствующий условий активизации.</p>
          </div>

          <div>
              <p>published: 14.06.2014, 12:14</p>
              <h2><a href="">Вторая запись</a></h2>
              <p>Товарищи! укрепление и развитие структуры позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. С другой стороны дальнейшее развитие различных форм деятельности требуют определения и уточнения новых предложений.
Таким образом укрепление и развитие структуры в значительной степени обуславливает создание новых предложений. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение дальнейших направлений развития. Равным образом новая модель организационной деятельности в значительной степени обуславливает создание соответствующий условий активизации..</p>
          </div>
      </body>
  </html>
